<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='aboutus.css')}}">
</head>

<body>
    <header class="top-bar">
        <h1 class="myclass">ABC consultancy</h1>
        <nav>
            <li class="nav-links">
                <a href="{{'home'}}" target="_blank" class="h">Home</a>
                <a href="{{'about'}}" target="_blank" class="a">About Us</a>
                <a href="{{'countries'}}" target="_blank" class="c">Countires</a>
                <a href="{{'contact'}}" target="_blank" class="co">Contact Us</a>
            </li>
        </nav>

    </header>
    <h1 class="mh">ABOUT US</h1>
    <div class="mbody">
        <h1 class="hbox">OUR MISSION</h1>
        <P class="pbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente inventore odio quidem incidunt quasi! Quaerat
        magni vel fuga nam, numquam soluta dignissimos aut harum dolor animi vitae quam quidem doloremque?
        Possimus id eveniet laudantium error vitae tempora, magni nobis cupiditate debitis quibusdam velit, illo non
        tenetur corrupti, harum ea? Quidem, tenetur optio. Iure perferendis atque fugit in explicabo et doloribus!
        Molestias minus dignissimos, aliquid esse consectetur nesciunt natus recusandae. Corrupti totam asperiores
        necessitatibus voluptate corporis neque commodi. Sit nemo accusantium, explicabo praesentium eveniet culpa.
        Recusandae inventore aperiam fugit hic possimus.</p>
    </div>
    <div class="sbody">
        <h1>ABOUT US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aspernatur, ipsum assumenda nesciunt, quo ex vero perspiciatis distinctio eligendi voluptatum exercitationem velit vitae voluptates aliquid pariatur rerum odit nisi maiores.
        Non exercitationem, asperiores rem repellat aliquam cum quae, aut consectetur quia sed fuga deserunt! Sint dolorum quaerat quisquam quibusdam? Fugiat nostrum quasi molestiae sed dolor rerum reiciendis ratione reprehenderit. Animi.
        Incidunt corporis nobis amet illo reprehenderit eaque magnam blanditiis doloremque animi sunt explicabo, enim totam cumque voluptatum sequi eum eligendi dicta inventore, dolore ad non? Modi, autem architecto? Facere, </p>
    </div>
    <div class="tbody">
        <h1>OUR TEAM</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae velit, et dolorem neque eveniet officiis provident! Assumenda nobis aperiam excepturi dignissimos, voluptas hic voluptatem. Id aperiam excepturi harum quisquam minus hic soluta doloribus vero.
        Repellat possimus nemo vel amet libero in alias quia hic exercitationem adipisci. Cum esse error voluptatibus? Corporis est exercitationem quasi, ullam laboriosam omnis possimus ducimus? Accusantium blanditiis hic fuga ex nihil reprehenderit voluptates ipsa! Aut!
        Facilis sint in nisi officia error neque adipisci libero quod, quia quidem tenetur assumenda, quo explicabo perferendis beatae quaerat ratione placeat aliquam exercitationem qui architecto, quisquam molestiae! Doloremque quod, doloribus asperiores dolores fugit ad voluptatem.
        Itaque, expedita consequatur? In ut, tempore ullam laboriosam expedita minus doloribus adipisci praesentium numquam non voluptatum veniam ipsum animi aspernatur explicabo /p>
    </div>
</body>

</html>