<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australia</title>
    <link rel="stylesheet" href="{{url_for('static',filename='aus.css')}}">
</head>

<body>
    <header class="top-bar">
        <h1 class="myclass">ABC consultancy</h1>
        <nav>
            <li class="nav-links">
                <a href="{{'home'}}" class="h">Home</a>
                <a href="{{'about'}}" target="_blank" class="a">About Us</a>
                <a href="{{'countries'}}" target="_blank" class="c">Countires</a>
                <a href="{{'contact'}}" target="_blank" class="co">Contact Us</a>
            </li>
        </nav>

    </header>

    <div class="myclass1">
        <section >
            <img src="{{url_for('static',filename='aus/header.jpg')}}" alt="myimage" 
                style="width: 1914px; height: 700px; margin-right: 0%; margin-left: -1%;">
            <h1>AUSTRTALIA</h1>
            
        </section>
    </div>
    
    

        <div class="cont">
            
            
            <h2>Why  choose Australia?</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi facere consequatur ducimus, sapiente,
                consquuntur odio nemo similique atque dolorum voluptas voluptatum repellat, maiores labore
                necessitatibus.
                Voluptas, aut eum? Iure repellat quis possimus qui blanditiis modi, corrupti placeat. Ducimus sit animi
                qui
                neque, ipsum doloribus dolorem beatae quis accusamus, labore rem?
                Provident quis eaque voluptatibus facilis iste id sit commodi nobis modi iure omnis necessitatibus,
                dolores
                maiores officia aspernatur quam? Aut repellat quos amet minima quod, sed aspernatur libero a ad soluta
                fuga enim
                iure consequuntur commodi blanditiis velit. Ipsa ut iure vel laboriosam? Unde voluptatem quis odio
                impedit non
                minima?
                Optio magni quis officiis, quos sequi qui iure eaque nostrum obcaecati quisquam aliquid dolorem rem
                numquam
                atque dicta. A necessitatibus ratione ut nihil alias deserunt adipisci aperiam accusantium corporis
                repellendus,
                asperiores, sit numquam nulla sapiente fugiat dolor beatae veniam? Id magnam vitae iure commodi
                repellendus
                illum quidem est nulla nemo?
                At dolorum sit suscipit tempore. Quisquam nihil totam est voluptatem, dolor modi saepe cum sit quod ab
                esse
                voluptates quia labore iure eligendi accusantium. Ad dicta voluptatem praesentium perferendis a nulla
                non iusto
                quae. Commodi unde asperiores nobis delectus ipsum ducimus velit voluptatum, amet quibusdam, modi
                eligendi
                adipisci! Perferendis, similique!</P>
        </div>
    

    <section>
        <div>
            <h1 class="headau">AFFILIATED UNIVERSITIES</h1>
        </div>
    </section>

        <section>
        <div class="imglink">
            
            <a href="https://www.adelaide.edu.au/" target="_blank">
                <img src="static/aus/adelaide.jpg" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.anu.edu.au/" target="_blank">
                <img src="static/aus/australianational.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.monash.edu/" target="_blank">
                <img src="static/aus/Monash.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.unimelb.edu.au/" target="_blank">
                <img src="static/aus/ofm.jpg" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.uq.edu.au/" target="_blank">
                <img src="static/aus/queensland.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.rmit.edu.au/" target="_blank">
                <img src="static/aus/rmit.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.unsw.edu.au/" target="_blank">
                <img src="static/aus/unsw.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.sydney.edu.au/" target="_blank">
                <img src="static/aus/uos.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>
            <a href="https://www.uts.edu.au/" target="_blank">
                <img src="static/aus/uts.png" alt="Clickable Image"
                    style="width: 150px; height: 170px; margin: 0 200px;">
            </a>


        </div>
    </section>
</body>

</html>