<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counties</title>
    <link rel="stylesheet" href="{{url_for('static',filename='countries.css')}}">
</head>

<body>
    <header class="top-bar">
        <h1 class="myclass">ABC consultancy</h1>
        <nav>
            <li class="nav-links">
                <a href="{{'home'}}" target="_blank" class="h">Home</a>
                <a href="{{'about'}}" target="_blank" class="a">About Us</a>
                <a href="{{'countries'}}" target="_blank" class="c">Countires</a>
                <a href="{{'contact'}}" target="_blank" class="co">Contact Us</a>
            </li>
        </nav>

    </header>
    <div class="hello">
        <h1 class="head1">S t u d y A b r o a d</h1>
        <p class="para">Explore comprehensive information on top study destinations around the globe</p>
        <a href="/usa" target="_blank">
            <img src="static/usa/11.png" alt="Clickable Image" style="width: 500px; height: 600px;">
        </a>
        <a href="/australia" target="_blank">
            <img src="static/aus/14.png" alt="Clickable Image" style="width: 500px; height: 600px;" >
        </a>
        <a href="/germany" target="_blank">
            <img src="static/ger/13.png" alt="Clickable Image" style="width: 500px; height: 600px;">
        </a>
    </div>

</body>

</html>