<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abc consaltancy</title>
    

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>
    <header class="top-bar">
        <h2 class="myclass">ABC Consultancy</h2>
        <nav>
            <li class="nav-links">
                <a href="{{'home'}}" target="_blank" class="h">Home</a>
                <a href="{{'about'}}" target="_blank" class="a">About Us</a>
                <a href="{{'countries'}}" target="_blank" class="c">Countires</a>
                <a href="{{'contact'}}" target="_blank" class="co">Contact Us</a>
            </li>
        </nav>

    </header>
    <div class="bodyindex">
        <div>
            <h1 class="h-box">ABC CONSULTANT</h1>
            <p class="p1-box">THE BEST CONSULTANCY FOR YOU TO PERSUE YOUR ABROAD STUDIES</p>
        </div>
        <div>
            <P class="p2-box">Over 30+ offices in pakistan</P>
        </div>
        <div class="explore">    
            <a href="{{'countries'}}" target="_blank" class="exm">Explore more</a>
        </div>
        
    </div>

</body>

</html>